html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    text-align: center;
}

h1,
h2 {
    font-family: 'Bungee Hairline', cursive;
    font-size: 3em;
}

h2 {
    color: #003333;
}

h3 {
    font-family: 'Bungee Hairline', cursive;
    font-size: 1.5em;
}

h4 {
    text-decoration: underline;
}

li {
    list-style-type: none;
    margin: 1em 0;
}

/* ------- HEADER -------- */
.banner {
    color: #ffffff;
    background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), rgba(0, 0, 0, 0.55) url('../img/banner.jpg') no-repeat fixed;
    background-size: contain;
    background-color: #fff7e6;
}

nav {
    margin: 3em 0;
}

nav li {
    display: inline;
    padding: 1.2em;
    text-transform: lowercase;
}

nav li a,
.button {
    text-decoration: none;
    color: #ffffff;
}

h4,
nav li a,
.button,
#tagline,
p,
section li {
    font-family: 'Nixie One', cursive;
}

h1 {
    padding-top: 1em;
    margin-bottom: 0;
    color: #e6ffff;
}

#tagline {
    font-size: 1.5em;
    margin: 0 0.5em 1em;
}

.button {
    margin-top: 1em;
    border: 0.5px solid #ffffff;
    padding: 0.5em;
}


/* --------- ABOUT --------- */
#about-blurb {
    margin-bottom: 3em;
    padding: 2em;
}

.about img {
    width: 25%;
    height: auto;
}

.about p {
    margin: 1em;
    line-height: 40px;
}

#nutshell {
    background-color: #f6f7f7;
    padding: 5em 0;
}

#nut-heading {
    text-decoration: underline;
}


/* --------- EDUCATION -------- */
.edu {
    padding: 5em;
    background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), rgba(0, 0, 0, 0.55) url(../img/ufbg.jpg) no-repeat center center fixed;
    background-size: cover;
    color: #ffffff;
}

.edu h2,
.skills h2 {
    color: #ffffff;
}

.edu h3 {
    margin-top: 2em;
}


/* ------------ EXPERIENCE ------------ */
.exp ul {
    margin-bottom: 5em;
}


/* ---------- SKILLS ---------------- */
.skills {
    padding: 5em;
    background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), rgba(0, 0, 0, 0.55) url(../img/php.jpg) no-repeat center center fixed;
    background-size: cover;
    color: #ffffff;
}

.copy-container {
    margin: auto;
    width: 60%;
}

.skills h3,
.skills li {
    text-align: left;
}

/* -------- INTERESTS ------------ */
