html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

h1,
h2 {
    font-family: 'Bungee Hairline', cursive;
    font-size: 3em;
}

h2 {
    text-align: center;
    color: #003333;
}

h3 {
    font-family: 'Bungee Hairline', cursive;
    font-size: 1.5em;
}

/* ------- HEADER -------- */
.banner {
    color: #ffffff;
    background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), rgba(0, 0, 0, 0.55) url('../img/banner.jpg') no-repeat fixed;
    background-size: contain;
    background-color: #fff7e6;
    text-align: center;
}

nav {
    margin: 3em 0;
}

nav li {
    display: inline;
    padding: 1.2em;
    text-transform: lowercase;
}

nav li a,
.button {
    text-decoration: none;
    color: #ffffff;
}

nav li a,
.button,
#tagline,
p,
section li {
    font-family: 'Nixie One', cursive;
}

h1 {
    padding-top: 1em;
    margin-bottom: 0;
    color: #e6ffff;
}

#tagline {
    font-size: 1.5em;
    margin: 0 0.5em 1em;
}

.button {
    margin-top: 1em;
    border: 0.5px solid #ffffff;
    padding: 0.5em;
}


/* --------- ABOUT --------- */
.about {
    text-align: center;
}

#about-blurb {
    margin-bottom: 3em;
    padding: 2em;
}

.about img {
    width: 25%;
    height: auto;
}

.about p {
    margin: 1em;
    line-height: 40px;
}

#nutshell {
    background-color: #e6ffff;
    padding: 5em 0;
}

#nut-heading {
    text-decoration: underline;
}

#nutshell li {
    list-style-type: none;
    margin: 1em 0;
}
